name: Go tests

on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  gotests:
    runs-on: ubuntu-latest
    name: Tests for Go 1.21
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21"
      - name: Show env
        run: env
      - name: Unit tests
        run: go test -v ./...
